.V {
	background: #f4f4f4
}

.V .c11,.V .c52,.V .c2,.V .c3,.V .lv3,.V .c0,.V .c6,.V .i5 {
	color: #111;
	font-weight: 700
}

.fc1 {
	color: #454545
}

.fc1 .adf {
	font-weight: 700
}

.V .i1 {
	color: #ff5f00;
	font-size: 1.2em
}

.V .i2 {
	display: inline-block;
	vertical-align: top;
	font-weight: 100;
	color: #454545
}

.V .i3 {
	font-size: .9em;
	color: #666
}

.V .i4 {
	color: #999;
	font-size: .9em;
	font-weight: normal
}

.V .a1 {
	display: block;
	position: relative;
	overflow: hidden
}

.V .a2 {
	padding: 0;
	margin: 0;
	float: left;
	position: relative;
	overflow: hidden;
	width: 100%
}

.V .a3 {
	text-indent: 0;
	padding: 0;
	display: block;
	margin: 0 auto;
	width: 100%
}

.V .a4 {
	overflow: hidden;
	position: relative;
	width: 100%
}

.V .a4:empty {
	display: none
}

.V .a5 {
	padding: 0;
	overflow: hidden;
	width: 100%
}

.V .a6 {
	position: absolute;
	bottom: 2%;
	width: 100%;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-align: center;
	z-index: 1000
}

.V .position {
	position: relative;
	text-align: center;
	font-size: 23px;
	line-height: 1.3
}

.V .position em {
	font-style: normal;
	color: #c4c4c4;
	font-family: sans-serif
}

.V .position .on {
	color: #fff
}

.V .c11 {
	border-bottom: 1px solid #e7e7e7;
	line-height: 25px;
	padding: 11px 15px 15px 15px;
	font-size: 1.3em
}

.V .c12 label {
	width: 48%;
	display: inline-block;
	height: 25px;
	line-height: 25px;
	font-weight: 100;
	color: #454545;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .c12 label:first-of-type {
	width: 100%;
	display: block
}

.V .c12 {
	padding: 15px;
	border-bottom: 1px solid #e7e7e7;
	display: block;
	font-size: 1em
}

.V .c12 label:first-of-type span {
	display: inline-block;
	height: 14px;
	width: 28px;
	background-size: 28px;
	top: 2px
}

.c52 {
	-webkit-box-sizing: border-box;
	padding: 15px;
	font-size: 1em;
	display: block;
	border-bottom: 1px solid #e7e7e7
}

.c52 label {
	-webkit-box-sizing: border-box;
	display: inline-block;
	width: 100%;
	padding-right: 15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.c52 em {
	font-weight: normal
}

.c52 img {
	display: block;
	margin: 15px auto;
	background: #ccc;
	width: 100%
}

.V .c2 {
	font-size: 1em;
	border-bottom: 1px solid #e7e7e7;
	padding: 15px
}

.V .c2 span:first-of-type {
	display: block;
	line-height: 16px;
	width: 100%;
	margin-bottom: 10px
}

.V .c2 span:last-of-type {
	display: block;
	overflow: hidden;
	line-height: 22px;
	font-weight: normal;
	margin-bottom: 25px
}

.V .c2 i {
	top: -20px;
	position: relative;
	font-size: 14px;
	padding-right: 15px;
	float: right;
	font-weight: normal
}

.V .c2 .c2m {
	max-height: 200px;
	overflow: hidden
}

.V .c3 {
	padding: 15px
}

.V .c3 span {
	display: inline-block;
	line-height: 20px;
	font-weight: normal
}

.V .dimg {
	display: block;
	height: 197px;
	overflow: hidden;
	margin-top: 10px;
	border: 1px solid #e7e7e7;
	background: no-repeat center center #dadada;
	width: 100%;
	background-size: auto 60%
}

.V .mapimg {
	width: 100%;
	height: 100%;
	display: block
}

.map .dimgd {
	overflow: hidden
}

.map .address {
	display: inline-block;
	overflow: hidden;
	width: 55%;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .c4 {
	padding: 15px 15px 0 15px
}

.V .c41 {
	font-size: 0;
	overflow: hidden;
	display: inline-block;
	vertical-align: top;
	background-repeat: no-repeat;
	background-position: center center;
	background-color: #e1e1e1
}

.V .c41 img {
	height: 100px;
	width: 75px
}

.V .c42 {
	width: 69%;
	margin: 5px 0 0 10px;
	display: inline-block;
	vertical-align: top
}

.V .c42 label {
	font-size: 20px;
	display: block;
	font-weight: 700;
	line-height: 45px;
	margin-top: -10px
}

.V .c42 span,.V .c43 span {
	position: relative;
	font-size: 1em;
	line-height: 25px;
	padding: 0;
	color: #454545
}

.V .c43 {
	width: 100%;
	margin: 5px 0 15px 10px;
	display: inline-block;
	vertical-align: top
}

.V .c40 {
	position: absolute
}

.V .lv {
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 91px;
	padding: 8px 15px;
	border-bottom: 1px solid #e7e7e7;
	display: -webkit-box
}

.V .ls {
	background-color: #FFF;
	height: 105px;
	padding: 15px 10px
}

.V .ls .ls1 {
	color: #e54c00;
	font-size: 17px;
	position: absolute;
	right: 10px;
	bottom: 17px
}

.lv img {
	height: 75px;
	width: 100px;
	display: inline-block
}

.lv1 {
	-webkit-box-sizing: border-box;
	-webkit-box-flex: 1;
	display: block;
	padding-left: 10px
}

.lv1 span {
	display: block;
	color: #666;
	font-size: 1em;
	line-height: 20px !important;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.lv1 span:first-child {
	font-family: "arial";
	font-size: 1em;
	line-height: 28px;
	color: #0040d8;
	font-weight: bold;
	margin-bottom: 12px
}

.lv1 .lv2 {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.lv1 i {
	color: #e54c00 !important;
	float: right;
	font-weight: bold
}

.lv3 {
	font-size: 1em;
	line-height: 20px;
	padding: 0 15px;
	margin-top: 10px;
	display: block
}

.V .c0 {
	padding: 15px;
	border-bottom: 1px solid #e7e7e7
}

.V .c0 span {
	font-size: 1em
}

.V .c0 span:first-of-type {
	font-size: 1.3em
}

.V .t1 {
	color: #333;
	font-weight: 700;
	font-size: 1.1em
}

.V .td2 {
	-webkit-text-size-adjust: none;
	font-family: 'arial'
}

.V .t1 span {
	-webkit-box-sizing: border-box;
	width: 100%;
	padding-left: 35px;
	padding-right: 15px;
	line-height: 20px
}

.V .t2 {
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	width: 100%;
	height: 35px;
	margin: 10px 10px 10px 0;
	border: 1px solid #bbb;
	border-radius: 3px
}

.V .t3 {
	-webkit-box-flex: 1;
	display: block;
	width: 100%;
	height: 100%;
	font-size: .9em;
	border: 0 none;
	padding: 0 10px
}

.V .t3:focus {
	outline: 0
}

.V .t4 {
	display: inline-block;
	position: relative;
	top: -1px;
	right: -1px;
	cursor: pointer;
	text-align: center;
	height: 35px;
	color: #fff;
	background: #5aa000;
	border: 1px solid #397300;
	border-radius: 0 3px 3px 0;
	font-size: 1em;
	padding: 0 10px
}

.V .tc2 {
	border-bottom: 0
}

.V .t6 {
	-webkit-box-sizing: border-box;
	padding: 15px;
	border-bottom: 1px solid #e7e7e7
}

.V .t5 {
	width: 100%;
	line-height: 35px
}

.V .t51 {
	display: inline-block;
	width: 41%;
	white-space: nowrap;
	font-size: .8em
}

.V .t51 span {
	display: inline-block
}

.V .t52 {
	margin-left: 5%;
	white-space: nowrap;
	padding-left: 20px;
	font-size: .8em
}

.V .time {
	display: inline-block;
	background: no-repeat 4px 9px;
	background-size: 16px;
	background-position: left center
}

.V .peo {
	display: inline-block;
	background: no-repeat 4px 9px;
	background-size: 18px;
	background-position: left center
}

.V #error_message_text {
	background: no-repeat 0 7px;
	vertical-align: middle;
	display: none;
	padding-left: 17px;
	margin-top: -10px;
	color: #ff7373;
	font-size: .8em;
	background-size: 15px;
	line-height: 30px;
	height: 30px
}

#tg_pop_box,#lp_tg_pop_box {
	position: fixed;
	width: 100px;
	height: 100px;
	z-index: 1000;
	display: none;
	background-color: transparent
}

#tg_view_pop_up_box,#lp_tg_pop_up_box {
	position: relative;
	pointer-events: none;
	background-size: 100px;
	color: #fff;
	font-size: 12px;
	text-align: center;
	line-height: 150px;
	width: 100px;
	height: 100px;
	border-radius: 13px;
	opacity: .9;
	z-index: 50
}

.T .success {
	background-repeat: no-repeat;
	background-position: 0 1px
}

.T .failed {
	background-repeat: no-repeat;
	background-position: 0 1px
}

.V .c5 {
	padding: 15px;
	border-bottom: 1px solid #e7e7e7;
	font-size: .9em
}

.V .c5 label {
	-webkit-box-sizing: border-box;
	display: block;
	line-height: 35px;
	height: 35px;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .c7 {
	-webkit-box-sizing: border-box;
	position: relative;
	width: 100%;
	height: 70px;
	color: #333;
	font-size: 1em;
	padding: 10px 0;
	border-top: 1px solid #e7e7e7;
	display: -webkit-box
}

.V .c7 img {
	margin-left: 10px;
	display: block;
	height: 50px;
	width: 50px
}

.lv1 {
	-webkit-box-sizing: border-box;
	overflow: hidden;
	-webkit-box-flex: 1;
	display: block
}

.V .c71 {
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	display: block;
	width: 100%;
	margin: 0 10px
}

.V .c71 span {
	line-height: 28px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis
}

.V .direation {
	float: right;
	margin: 7px 10px;
	background-color: #fafafa;
	border: 1px solid #bdbdbd;
	height: 30px;
	line-height: 30px;
	display: inline-block;
	border-radius: 3px
}

.V .next,.V .prev,.V .next_dis,.V .prev_dis {
	float: left;
	background: no-repeat center;
	display: inline-block;
	width: 30px;
	height: 100%
}

.V .prev,.V .prev_dis {
	float: left;
	border-right: 1px solid #e7e7e7
}

.V .rent_rec_list {
	padding-left: 15px;
	padding-right: 15px
}

.map .dimgd {
	-webkit-box-flex: 1;
	overflow: hidden
}

.V .prev {
	-webkit-transform: scale(1, -1)
}

.V .prev_dis {
	-webkit-transform: scale(1, -1)
}

.V .next_dis {
	-webkit-transform: scale(1, -1)
}

.V .c1 {
	padding: 2%;
	display: inline-block;
	width: 96%;
	vertical-align: top;
	overflow: hidden;
	border-bottom: 1px solid #e7e7e7
}

.V .c1 span {
	line-height: 60px;
	font-size: 1.3em;
	font-weight: 700;
	color: #111
}

.V .c1 label {
	font-size: .9em
}

.V .c8 {
	padding: 0 2%;
	padding-bottom: 30px
}

.V .c8 label {
	font-size: 1em;
	line-height: 55px
}

.V .c8 span {
	font-size: .9em;
	line-height: 24px
}

.V .c6 {
	padding: 15px;
	font-size: .9em;
	border-bottom: 1px solid #e7e7e7
}

.V .c6 span:first-child {
	display: block
}

.V .c6 span:last-child {
	font-weight: normal
}

body .android_phone {
	background: rgba(0, 0, 0, 0.7);
	border: 0;
	border-radius: 0;
	height: 52px;
	width: 100% !important;
	margin: 0 !important
}

.phone_ext {
	color: #ff0;
	font-size: 20px
}

.userpeo {
	position: fixed;
	z-index: 500;
	width: 96%;
	margin: 0 2% 5px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66b601),
		to(#599d00), color-stop(0.01, #a0d363), color-stop(0.04, #66b601) );
	border: 1px solid #397300;
	border-radius: 3px;
	bottom: 0;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-alian: center;
	line-height: 40px
}

.a7 {
	white-space: nowrap;
	display: inline-block;
	background: url("../img/icon_phone.png") no-repeat 0 13px;
	background-size: 18px;
	line-height: 40px;
	color: #fff;
	font-size: 1em;
	padding-left: 22px
}

.android_phone .a7 {
	line-height: 50px;
	background-position: 0 17px
}

body .nowcall {
	height: 134px;
	position: fixed;
	z-index: 500;
	display: -webkit-box;
	-webkit-box-pack: center;
	-webkit-box-alian: center;
	bottom: -86px;
	text-align: center;
	-webkit-transition: bottom .4s
}

body .nowcall.animation {
	bottom: 0
}

.tel_ext {
	color: #FF0;
	font-size: 26px;
	display: block;
	margin: -5px 0 8px 0
}

.nowCallBut {
	border-top: 1px solid #c1c1c1;
	height: 39px;
	line-height: 39px;
	width: 98%;
	margin: 0 auto;
	display: block;
	border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #939393),
		color-stop(1, #808080), color-stop(1, #656565) );
	color: #FFF;
	font-weight: bold
}

.zz {
	position: absolute;
	z-index: 99;
	top: 0;
	left: 0;
	background: #FFF;
	opacity: 0;
	width: 100%
}

.V span {
	display: block;
	line-height: 35px
}

.V .d {
	position: relative;
	width: 100%
}

.V .d1 {
	overflow: hidden;
	width: 100%
}

.V .d2 {
	-webkit-text-size-adjust: none;
	padding-bottom: 60px;
	font-family: 'arial'
}

.V .c53:active {
	background: #e4e4e4
}

.V .ca {
	width: 100%
}

.V .d2 .cutout {
	display: none
}

.V .open {
	font-weight: 100;
	width: 60px;
	float: right;
	line-height: 25px;
	background: no-repeat 35px center;
	background-size: 10px;
	display: block
}

.V .close {
	width: 60px;
	float: right;
	line-height: 25px;
	background: no-repeat 35px center;
	background-size: 10px
}

.V .c12 label.l1 {
	width: 100%
}

.V .l2 {
	overflow: hidden;
	zoom: 1
}

.V .l2 a {
	display: block;
	float: left;
	min-width: 40px;
	width: 18%;
	height: 30px;
	text-align: center;
	line-height: 30px;
	background: #FFF;
	border: 1px solid #d9d9d9;
	border-radius: 3px;
	margin: 8px 1.6% 0 0;
	color: #999
}

.V .l2 a:active {
	background: #EEE
}

.V .l2 a:nth-child (5n){
	margin-right: 0 !important
}

.V .l2 a.lon {
	border: 1px solid #e74b00;
	background: #FFF
}

.V .l2 a.lon em {
	display: block
}

.V .l2 a.l4 {
	display: none
}

.V .m1 {
	font-weight: bold;
	margin: 0 0 10px 0
}

.V .m2 {
	margin-bottom: 20px
}

.V .m2 dl {
	margin: 0
}

.V .m2 dl:nth-last-child (2),.V .m2 dl:nth-last-child (1){
	display: none
}

.V .m2 dl:nth-child (1),.V .m2 dl:nth-child (2),.V .m2 dl:nth-child (3){
	display: block
}

.V .m2 dt {
	height: 22px;
	line-height: 22px;
	background: #e6e6e6;
	border-left: 2px solid #CCC;
	color: #666;
	padding-left: 6px;
	display: block
}

.V .m2 dd {
	margin: 0;
	line-height: 20px;
	padding: 8px 0 12px 0
}

.V .sc {
	padding: 15px;
	font-family: 'arial'
}

.V .st1 {
	height: 25px;
	line-height: 25px;
	font-size: .9em;
	color: #999;
	font-weight: bold
}

.V .s1 textarea {
	-webkit-box-sizing: border-box;
	height: 100px;
	font-size: 14px;
	outline: 0;
	padding: 4px 2%;
	width: 100%;
	line-height: 20px;
	border: 1px solid;
	border-color: #bbb #d9d9d9 #d9d9d9 #d9d9d9
}

.V .s1a {
	display: -webkit-box;
	-webkit-box-pack: end;
	height: 20px
}

.V .s1c {
	color: #ff7373;
	font-size: .7em;
	text-align: right;
	display: none;
	line-height: 20px !important
}

.V .s1d {
	background: none !important
}

.V .s2 input {
	-webkit-box-sizing: border-box;
	padding: 0 2%;
	height: 50px;
	width: 100%;
	font-size: 20px;
	outline: 0;
	border: 1px solid;
	border-color: #bbb #d9d9d9 #d9d9d9 #d9d9d9;
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none
}

.V .ser {
	padding-left: 20px;
	color: #ff7373;
	font-size: 12px;
	line-height: 20px !important;
	display: none
}

.V .s4a {
	-webkit-border-radius: 3px;
	height: 50px;
	line-height: 50px;
	font-weight: 700;
	font-size: 1.3em;
	text-align: center;
	border: 1px solid #397300;
	color: #FFF;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66b601),
		to(#599d00) )
}

.V .s3 {
	margin: 15px 0
}

.V .s3a input {
	-webkit-box-sizing: border-box;
	padding: 0 2%;
	height: 50px;
	width: 35%;
	font-size: 20px;
	outline: 0;
	border: 1px solid;
	border-color: #bbb #d9d9d9 #d9d9d9 #d9d9d9;
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none
}

.V .s3a img {
	height: 50px;
	width: 35%;
	vertical-align: top;
	margin-left: 6px
}

.V .s3a i {
	vertical-align: bottom;
	margin-left: 10px;
	color: #999;
	font-size: 13px;
	text-decoration: underline
}

.V .clear {
	padding-bottom: 0
}

.V .grey {
	color: #bbb;
	border: 1px solid #bbb;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c1c1c1),
		to(#d4d4d4) )
}

.show_msg {
	position: fixed;
	z-index: 500;
	padding: 0;
	margin: 0;
	width: 100px;
	height: 100px;
	background-size: 100px;
	top: 40%;
	border-radius: 10px
}

.suc {
	background-size: 100px
}

.err {
	background-size: 100px
}

.rea {
	background-size: 100px
}

@media screen and (min-width:300px) and (max-width:479px) {
	.V .a2,.V .a3 {
		height: 236px
	}
}

@media screen and (min-width:480px) and (max-width:566px) {
	.V .a2,.V .a3 {
		height: 250px
	}
}

@media screen and (min-width:567px) {
	.V .a2,.V .a3 {
		height: 275px
	}
}

.V .cc52 {
	border-bottom: 1px solid #e7e7e7;
	font-weight: normal;
	color: #666;
	display: -webkit-box;
	font-size: .8em
}

.V .cc52 a {
	display: block;
	color: #666
}

.V .cc52 a:last-child {
	-webkit-box-flex: 1;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis
}

.V .do {
	-webkit-box-sizing: border-box;
	-webkit-text-size-adjust: none;
	font-family: 'arial';
	padding: 15px 10px 70px 10px !important
}

.V .dt {
	font-size: .9em;
	font-weight: 500;
	color: #b7b7b7;
	line-height: 28px;
	margin-top: 10px
}

.V .di {
	-webkit-box-sizing: border-box;
	border: 1px solid;
	border-color: #BBB #d9d9d9 #d9d9d9 #d9d9d9;
	background-color: #FFF;
	border-radius: 5px;
	padding: 15px 10px
}

.V .padd {
	padding: 10px
}

.V .no_padd {
	padding: 0
}

.V .lf_padd {
	padding: 0 10px
}

.V .b_padd {
	padding-bottom: 10px
}

.V .di span {
	font-size: .9em;
	color: #454545;
	line-height: 24px
}

.V .introduction span:first-child {
	margin-top: 0
}

.V .max_h {
	-webkit-box-sizing: border-box;
	overflow: hidden;
	max-height: 82px
}

.V .tuan_para i {
	display: inline-block;
	padding-left: 20px
}

.V .tuan_para i:first-child {
	width: 35%
}

.V .tuan_pre {
	-webkit-box-sizing: border-box;
	padding-right: 15px
}

.V .base_para {
	margin-top: 15px
}

.V .base_para span {
	-webkit-box-sizing: border-box;
	padding: 0 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .base_para i {
	display: inline-block;
	color: #333
}

.V .look_more {
	display: block;
	-webkit-box-sizing: border-box;
	padding: 10px;
	border-top: 1px solid #e7e7e7
}

.V .hx_model .c7:first-of-type,.V .jx_model .jx:first-of-type {
	border-top: 0
}

.V .loupan_adr {
	margin: 10px 10px 0 10px
}

.V .s_map {
	display: block;
	-webkit-box-sizing: border-box;
	height: 197px;
	overflow: hidden;
	margin: 10px;
	border: 1px solid #e7e7e7;
	background: no-repeat center center #dadada;
	background-size: auto 60%
}

.V .default_map {
	-webkit-box-sizing: border-box;
	overflow: hidden;
	width: 100%
}

.V .periphery {
	display: block;
	-webkit-box-sizing: border-box;
	padding: 10px;
	border-top: 1px solid #e7e7e7
}

.V .periphery span {
	-webkit-box-sizing: border-box;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding-right: 10px
}

.V .periphery i {
	color: #333;
	font-weight: 600
}

.V .opcl {
	-webkit-box-sizing: border-box;
	display: -webkit-box;
	-webkit-box-pack: end;
	-webkit-box-align: center;
	font-size: .7em;
	color: #333;
	z-index: 1;
	margin-top: 10px
}

.V .opcl i {
	padding-right: 15px
}

.V .per_sup span {
	font-size: .9em;
	line-height: 24px
}

.V .per_sup div:last-child {
	border-bottom: 0
}

.V .nb_model {
	padding: 15px 10px;
	border-bottom: 1px solid #e7e7e7
}

.V .per_sup .nb_title {
	line-height: 28px
}

.V .lp_params_frame .lp_params {
	padding: 10px;
	border-bottom: 1px solid #e7e7e7
}

.V .lp_params_frame div:last-of-type {
	border-bottom: 0
}

.V .lp_params i {
	color: #333;
	font-weight: 600
}

.V .dynamic {
	display: block;
	-webkit-box-sizing: border-box;
	padding: 15px 10px 5px 10px
}

.V .dynamic span {
	-webkit-box-sizing: border-box;
	padding-right: 10px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .dyn_params {
	display: -webkit-box;
	margin-top: 10px
}

.V .dyn_params i {
	-webkit-box-sizing: border-box;
	-webkit-box-flex: 1;
	font-size: .7em;
	display: block;
	overflow: hidden;
	padding: 5px 0 5px 18px
}

.V .dyn_view {
	-webkit-box-sizing: border-box;
	padding: 15px 10px
}

.V .dyn_view span {
	font-size: .9em;
	line-height: 24px
}

.V .dyn_view span:first-child {
	line-height: 30px
}

.V .d2 .dyn_publish {
	margin-top: 10px;
	font-size: .7em
}

.V .dyn_view img {
	display: block;
	width: 100%;
	margin-top: 10px
}

.V .d2 .dyn_join {
	position: relative;
	margin-left: 5px;
	display: inline-block;
	top: 10px;
	width: 90px;
	height: 34px;
	line-height: 34px;
	text-align: center;
	color: #FFF;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66b601),
		to(#599d00), color-stop(0.01, #a0d363), color-stop(0.04, #66b601) );
	border: 1px solid #397300;
	border-radius: 3px
}

.V .d2 .dyn_expired {
	border: 1px solid #BBB;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#c1c1c1),
		to(#d4d4d4) )
}

.V .d2 .news_doings {
	display: -webkit-box
}

.V .d2 .news_time_place {
	-webkit-box-flex: 1
}

.V .d2 .news_time_place span {
	display: inline-block;
	width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .news_activity {
	display: inline-block;
	padding-right: 35px
}

.V .top_line {
	border-top: 1px solid #e7e7e7
}

.V .jx {
	-webkit-box-sizing: border-box;
	height: 70px;
	padding: 10px 10px;
	border-top: 1px solid #e7e7e7;
	display: -webkit-box;
	font-family: 'arial'
}

.V .jx img {
	display: block;
	width: 50px;
	height: 50px
}

.V .jx1 {
	-webkit-box-flex: 1;
	-webkit-box-sizing: border-box;
	display: block;
	padding: 0 10px
}

.V .jx1 span:first-of-type {
	color: #0040d8;
	line-height: 20px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.V .jx1 .jx_params {
	margin-top: 10px
}

.V .jx1 .jx_params i {
	float: right
}

.V .jx1 .jx_params em {
	vertical-align: top;
	font-size: .8em
}

.V .news_register {
	padding: 5px 10px
}

.V .news_register input {
	-webkit-box-sizing: border-box;
	padding: 0 2%;
	height: 50px;
	width: 100%;
	font-size: 20px;
	outline: 0;
	border: 1px solid;
	border-color: #bbb #d9d9d9 #d9d9d9 #d9d9d9;
	-webkit-user-modify: read-write-plaintext-only;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-appearance: none
}

.V .register_info {
	margin-top: 15px
}

.V .register_title {
	height: 25px;
	line-height: 25px;
	font-size: .9em;
	color: #999;
	font-weight: bold
}

.V .register_btn {
	margin-top: 20px;
	border-radius: 3px;
	height: 50px;
	line-height: 50px;
	font-weight: 700;
	font-size: 1.3em;
	text-align: center;
	border: 1px solid #397300;
	color: #FFF;
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#66b601),
		to(#599d00) )
}

.V .di .f1,.V .d2 .f1 {
	color: #111;
	font-weight: 700;
	font-size: 1.2em
}

.V .di .f2,.V .d2 .f2 {
	color: #666;
	font-size: .7em
}

.V .di .f3,.V .d2 .f3 {
	color: #111;
	font-size: .9em;
	font-weight: 700
}

.V .di .f4,.V .d2 .f4 {
	color: #ff5f00;
	font-size: 1.2em
}

.V .di .f5,.V .d2 .f5 {
	color: #c9c9c9;
	font-size: .8em
}

.V .di .f6,.V .d2 .f6 {
	color: #454545;
	font-size: .9em
}

.V .di .f6 {
	display: block
}

.V .di .f7,.V .d2 .f7 {
	color: #333;
	font-size: .9em;
	font-weight: 600
}

.V .di .f7t,.V .d2 .f7t {
	color: #333;
	font-size: .9em;
	font-weight: normal
}

.V .di .f8,.V .d2 .f8 {
	color: #999
}

.V .di .f9,.V .d2 .f9 {
	color: #CCC
}

.A .a {
	background-color: #f4f4f4;
	height: 42px;
	overflow: hidden;
	white-space: nowrap
}

.A .a1 {
	zoom: 1;
	list-style: none;
	display: inline-block;
	position: relative;
	padding-right: 10px
}

.A .a2 {
	height: 40px;
	line-height: 40px;
	display: inline-block;
	margin-left: 10px
}

.A .a1 .active {
	color: #59a200;
	border-bottom: 2px solid #59a200
}

.A .b {
	overflow: hidden;
	visibility: hidden;
	position: relative
}

.A .b1 {
	overflow: hidden;
	position: relative;
	margin: 15px 2%
}

.A .b1 div {
	float: left;
	position: relative
}

.A img {
	width: 96%;
	display: block
}

.A .c {
	position: relative;
	margin: 0 10px;
	padding-bottom: 10px;
	font-size: 14px
}

.A .c1 {
	display: inline-block;
	line-height: 38px;
	border: 1px solid #bdbdbd;
	width: 24%;
	text-align: center;
	border-radius: 3px;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fafafa),
		color-stop(1, #eee) );
	box-sizing: border-box
}

.A .c a:nth-of-type (2){
	width: 50%;
	right: 0;
	position: absolute
}

.A .c1:active {
	background: #ddd
}

.A .c2 {
	display: inline-block;
	text-align: center;
	width: 24%;
	box-sizing: border-box
}

.A .empty {
	color: #bababa;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #999),
		color-stop(0.025, #eee), color-stop(1, #e2e2e2) );
	border: 1px solid #bababa
}

.V .mz {
	text-align: center;
	color: #bababa;
	font-size: .8em;
	margin-top: 10px
}