@CHARSET "UTF-8";
/*login css*/

#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .kbq a:link {
	color: #666;font-size:12px;
	text-decoration: none;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .kbq a:active: {
color: #666;font-size:12px;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .kbq a:visited {
	color: #FF6600;font-size:12px;
	text-decoration: none;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .kbq a:hover {
	color: #FF6600;font-size:12px;
	text-decoration: none;
}

#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .wjmm a:link {
	color: #666;font-size:12px;
	text-decoration: none;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .wjmm a:active: {
color: #666;font-size:12px;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .wjmm a:visited {
	color: #666;font-size:12px;
	text-decoration: none;
}
#header #div_Content #dltc_main #dltc_main_l #TabbedPanels1 .TabbedPanelsContentGroup .TabbedPanelsContent .wjmm a:hover {
	color: #FF6600;font-size:12px;
	text-decoration: none;
}

.div_style {
	display: none;
	width: 514px;
	height: 360px;
	margin-left: -200px;
	z-index: 999;
	position: absolute;
	border: 1px solid #FF8500;
	background-color: #FFFFFF;
	z-index: 9999;
	clear:both;
}
#dltc_tit {
	height: 45px;
	line-height: 45px;
	padding-left: 20px;
	color: #333;
	font-size: 16px;
	font-weight: bold;
	background: #FFF9DF;
	font-family: "微软雅黑";
}
#dltc_main {
	height: 315px;
	width: 514px;
}
#dltc_main_l {
	float: left;
	height: 300px;
	width: 287px;
	border-right-width: 1px;
	border-right-style: dashed;
	border-right-color: #CCC;
	/* [disabled]background-color: #0FC; */
	padding-right: 35px;
	padding-left: 35px;
	margin-top: 15px;
	margin-bottom: 20px;
	overflow: hidden;
}
#dltc_main_r {
	float: left;
	height: 210px;
	width: 156px;
	text-align: center;
	line-height: 25px;
	font-family: "微软雅黑";
	font-size: 14px;
	/* [disabled]background-color: #F00; */
	margin-top: 105px;
}

#dltc_main_r a:link {
	color: #FF6600;
	text-decoration: none;
}
#dltc_main_r a:active: {
	color: #FF6600;
}
#dltc_main_r a:visited {
	color: #FF6600;
	text-decoration: none;
}
#dltc_main_r a:hover {
	color: #FF6600;
	text-decoration: none;
}


.TabbedPanels {
	overflow: hidden;
	margin: 0px;
	padding: 0px;
	clear: none;	 /* IE Hack to force proper layout when preceded by a paragraph. (hasLayout Bug)*/
}
.TabbedPanelsTabGroup {
	margin: 0px;
	padding: 0px;
}

.TabbedPanelsTab {
	position: relative;
	float: left;
	list-style: none;
	-moz-user-select: none;
	-khtml-user-select: none;
	cursor: pointer;
	font-size: 16px;
	font-weight: normal;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
	background-color: #FFF;
	color: #CCC;
	font-family: "微软雅黑";
	width: 120px;
	text-align: center;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FF8500;
	height: 20px;
}
.TabbedPanelsTabHover {
}
.TabbedPanelsTabSelected {
	background-color: #FFF;
	font-weight: bold;
	color: #FF8500;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #FF8500;
	border-left-color: #FF8500;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #FF8500;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-top: 4px;
	padding-right: 10px;
	padding-bottom: 4px;
	padding-left: 10px;
}
#ad2_box1 {
	float: left;
	height: 70px;
	width: 652px;
	margin-right: 10px;
}
#ad2_box2 {
	float: left;
	width: 341px;
	height: 70px;
}
.TabbedPanelsTab a {
	color: black;
	text-decoration: none;
}

.TabbedPanelsContentGroup {



	background-color: #fff;
}

.TabbedPanelsContent {
	clear:both;
	padding: 4px;
}

.TabbedPanelsContentVisible {
}

#loginClose{
	float:right;
	height:45px;
	width:35px;
	background-repeat: no-repeat;
	background-position: left center;
	cursor:pointer;
}

.logininput{
	color:#999; 
	border: 1px solid #CCC; 
	height:25px; 
	width:250px; 
	line-height:25px; 
	font-size:14px; 
	margin:6px 0; 
	padding-left:10px;
}