@charset "utf-8";
#nav {
	height: 30px;
	border-bottom: 0px;
	position: relative;
	z-index: 1222;
	float: left;
	margin-left: 2px;
}
.list {
	line-height: 20px;
	text-align: center;
	padding: 4px;
	font-weight: normal;
}
.menu1 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 63px;
	height: auto;
	color: #333;
	border: 1px solid #6dbfff;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 48px 8px;
	padding-right: 0px;
	text-align: center;
	line-height: 10px;
}
.menu2 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 63px;
	height: 15px;
	color: #333;
	border: 1px solid #EEE8DD;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 48px 8px;
	padding-right: 0px;
	text-align: center;
	line-height: 10px;
}
.menu3 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 80px;
	height: auto;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 60px 8px;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #6dbfff;
	text-align: center;
	line-height: 10px;
}
.menu4 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 80px;
	height: 15px;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 60px 8px;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #EEE8DD;
	text-align: center;
	line-height: 10px;
}
.menu5 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 90px;
	height: auto;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 75px 8px;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #6dbfff;
	text-align: center;
	line-height: 10px;
}
.menu6 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 90px;
	height: 15px;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	background-image: url(../images/ico1.png);
	background-repeat: no-repeat;
	background-position: 75px 8px;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #EEE8DD;
	text-align: center;
	line-height: 10px;
}
.menu7 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 90px;
	height: 15px;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #6dbfff;
	text-align: center;
	line-height: 10px;
}
.menu8 {
	margin-top: 3px;
	padding-top: 6px;
	padding-bottom: 0px;
	width: 90px;
	height: 15px;
	color: #333;
	overflow-y: hidden;
	cursor: hand;
	list-style-type: none;
	background-color: #FFF;
	padding-right: 0px;
	padding-left: 0px;
	border: 1px solid #EEE8DD;
	text-align: center;
	line-height: 10px;
}
#nav .pxdef{
	background-image:url(../images/ico_def.png);
	background-size:7px 10px;
	background-repeat:no-repeat;
	background-position:center;
}
#nav .pxdefup{
	background-image:url(../images/ico_def_up.png);
	background-size:7px 10px;
	background-repeat:no-repeat;
	background-position:center;
}
#nav .pxdefdown{
	background-image:url(../images/ico_def_down.png);
	background-size:7px 10px;
	background-repeat:no-repeat;
	background-position:center;
}
#nav .pxup{
	background-image:url(../images/ico_up.png);
	background-size:7px 10px;
	background-repeat:no-repeat;
	background-position:center;
}
#nav .pxdown{
	background-image:url(../images/ico_down.png);
	background-size:7px 10px;
	background-repeat:no-repeat;
	background-position:center;
}