/*tail*/
.tail_font{
	font-size: 80%;
}
.tail{
	width:100%;
	height:50px;
	float:left;
}
.tail ul li{
	width:24.7%;
	height:50px;
	float:left;
	text-align: center;
	background:-webkit-gradient(linear, 0 0, 0 100%, from(#999999), to(#FDFDFD));
	border-right: #969696 1px solid ;
}
.tail_f1{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_f2{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_f1 a{
	color: #595757;
	text-decoration: none;
}
.tail_f1 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_f2 a{
	color: #595757;
	text-decoration: none;
}
.tail_f2 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_d1{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_d2{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_d1 a{
	color: #595757;
	text-decoration: none;
}
.tail_d1 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_d2 a{
	color: #595757;
	text-decoration: none;
}
.tail_d2 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_l1{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_l2{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_l1 a{
	color: #595757;
	text-decoration: none;
}
.tail_l1 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_l2 a{
	color: #595757;
	text-decoration: none;
}
.tail_l2 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_w1{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_w2{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_w1 a{
	color: #595757;
	text-decoration: none;
}
.tail_w1 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_w2 a{
	color: #595757;
	text-decoration: none;
}
.tail_w2 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_g1{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_g2{
	width:100%;
	height:50px;
	color: #595757;
}
.tail_g1 a{
	color: #595757;
	text-decoration: none;
}
.tail_g1 a:hover {
	color: #595757;
	text-decoration: none;
}
.tail_g2 a{
	color: #595757;
	text-decoration: none;
}
.tail_g2 a:hover {
	color: #595757;
	text-decoration: none;
}