@charset "gb2312";
/* CSS Document */
/*公用部分*/
html{-webkit-text-size-adjust:none}

a:link {
	color: #000;
}
a:visited {
	color: #000;
}
a:hover {
	color: #000;
}
a:active {
	color: #000;
}
body {
	margin:0px;
	padding:0px;
	overflow:hidden;
	font-family: "微软雅黑", Arial, "宋体", sans-serif;
	font-size:80%;
	color: #000;
}
ol,ul{padding: 0px;
	list-style-type: none;
	margin: 0px;}
	
.main {
	width:100%;
}
	
	
/*字体颜色*/
.red{
	font-size: 120%;
	color: #fe0000;
}
.black_xhx{
	font-size: 110%;
	color: #000000;
	text-decoration: underline;
}
.black_xhx a {color:#000000;text-decoration: underline;}
.black_xhx a:hover {color:#000000;text-decoration: underline;}


/*边框*/
.border_d1 {
	background-image: url(../netimages/border_1.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}

/*top*/
.mobile_top {
	width:110%;
	height:40px;
	background-color: #eeedf3;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #505050;
	line-height:40px;
	color: #000;
	text-align: center;
	font-size: 120%;
}
.fh {
	width:60px;
	height:30px;
	position: absolute;
	left: 15px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	top: 8px;
}


/*tail*/
.tail_font{
	font-size: 80%;
}
.tail{
	width:100%;
	height:50px;
	float:left;
}
.tail ul li{
	width:20%;
	height:50px;
	float:left;
	text-align: center;
	background-color: #000000;
}
.tail_f1{
	width:100%;
	height:50px;
	color: #00ab99;
}
.tail_f2{
	width:100%;
	height:50px;
	color: #ffffff;
}
.tail_f1 a{
	color: #00ab99;
	text-decoration: none;
}
.tail_f1 a:hover {
	color: #00ab99;
	text-decoration: none;
}
.tail_f2 a{
	color: #ffffff;
	text-decoration: none;
}
.tail_f2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
.tail_d1{
	width:100%;
	height:50px;
	color: #1ebe00;
}
.tail_d2{
	width:100%;
	height:50px;
	color: #ffffff;
}
.tail_d1 a{
	color: #00ab99;
	text-decoration: none;
}
.tail_d1 a:hover {
	color: #00ab99;
	text-decoration: none;
}
.tail_d2 a{
	color: #ffffff;
	text-decoration: none;
}
.tail_d2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
.tail_l1{
	width:100%;
	height:50px;
	color: #1ebe00;
}
.tail_l2{
	width:100%;
	height:50px;
	color: #ffffff;
}
.tail_l1 a{
	color: #00ab99;
	text-decoration: none;
}
.tail_l1 a:hover {
	color: #00ab99;
	text-decoration: none;
}
.tail_l2 a{
	color: #ffffff;
	text-decoration: none;
}
.tail_l2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
.tail_w1{
	width:100%;
	height:50px;
	color: #1ebe00;
}
.tail_w2{
	width:100%;
	height:50px;
	color: #ffffff;
}
.tail_w1 a{
	color: #00ab99;
	text-decoration: none;
}
.tail_w1 a:hover {
	color: #00ab99;
	text-decoration: none;
}
.tail_w2 a{
	color: #ffffff;
	text-decoration: none;
}
.tail_w2 a:hover {
	color: #ffffff;
	text-decoration: none;
}
.tail_g1{
	width:100%;
	height:50px;
	color: #1ebe00;
}
.tail_g2{
	width:100%;
	height:50px;
	color: #ffffff;
}
.tail_g1 a{
	color: #00ab99;
	text-decoration: none;
}
.tail_g1 a:hover {
	color: #00ab99;
	text-decoration: none;
}
.tail_g2 a{
	color: #ffffff;
	text-decoration: none;
}
.tail_g2 a:hover {
	color: #ffffff;
	text-decoration: none;
}

/*首页*/
.index_top{width:96%; margin:0 auto;}
.index_top2{width:50%; margin:0 auto;}
.index_img{margin-top:5px; margin-bottom:5px}
#header{position:absolute;top:0px;left:0px;height:40px;width:100%;}
#content{width:100%;height:100%;overflow:hidden}
#footer{width:100%;height:50px;position:absolute;bottom:0px;left:0px;}
#content img{
	margin-top: 0px;
	margin-right: 2px;
	margin-bottom: 10px;
	margin-left: 2px;
	padding: 0px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
}


/*经纪人列表*/
.jjr_list {
	width:100%;
	height:auto;
	display:table;
}
.jjr_list ul {
	display:table;
	width:96%;
	margin-right: auto;
	margin-left: auto;
}
.jjr_list ul li{
	width:100%;
	height:90px;
	float:left;
	display:table;
	background-image: url(../netimages/border_1.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
.jjr_list_photo{
	width:25%;
	height:80px;
	float:left;
	text-align: center;
}
.jjr_list_photo img{
	border: 1px solid #CCC;
	margin-top: 10px;
}
.jjr_list_js{
	width:75%;
	float:left;
	margin-top: 15px;
}
.jjr_list_js ul{
	width:100%;
}
.jjr_list_js ul li{
	width:100%;
	height:20px;
	float:left;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	color: #555555;
	background-image: none;
}

/*经纪人详细*/
.jjr_fy_title {
	width:100%;
	height:30px;
	line-height:30px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #333;
	text-indent: 10px;
	font-size: 110%;
}
.jjr_list2 {
	width:100%;
	height:auto;
	display:table;
}
.jjr_list2 ul {
	display:table;
	width:96%;
	margin-right: auto;
	margin-left: auto;
}
.jjr_list2 ul li{
	width:100%;
	height:90px;
	float:left;
	display:table;
}
.jjr_list_js2{
	width:65%;
	float:left;
	margin-top: 8px;
}
.jjr_list_js2 ul{
	width:100%;
}
.jjr_list_js2 ul li{
	width:100%;
	height:20px;
	float:left;
	line-height: 20px;
	margin: 0px;
	padding: 0px;
	color: #555555;
	background-image: none;
}

.jjr_fy_photo{
	width:35%;
	height:80px;
	float:left;
	text-align: center;
	margin-top: 8px;
}
.jjr_fy_js{
	width:50%;
	height:90px;
	float:left;
	margin-top: 15px;
}
.jjr_fy_js ul{
	width:100%;
}
.jjr_fy_js ul li{
	width:100%;
	height:18px;
	float:left;
	line-height: 18px;
	margin: 0px;
	padding: 0px;
	color: #555555;
	background-image: none;
}
.jjr_fy_jg{
	width:15%;
	height:30px;
	float:left;
	margin-top: 45px;
	font-size: 110%;
	color: #F00;
}